@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	font-family: Montserrat;
}

h1{
	font-size: 60px;
	color: #de0a92;
}

.ui-theme-light{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.content{
	margin-top: 30px;
	min-width: 1000px;
	display: flex;
	justify-content: space-evenly;
}

.todo-block{
	width: 23%;
	height: 700px;
}

.todo-block p{
	color: black;
	padding: 3px;
	margin-bottom: 20px;
	background: #edf2f7;
	width: fit-content;
	border-radius: 8px;
	font-size: 14px;
	text-transform: uppercase;
}

.add-button{
	height: 3%;
	width: 100%;
	float: center;
	color: #718096;
	background: #edf2f7;
	border-radius: 10px;
	transition: all 0.2s;
}

.add-button:hover{
	cursor: pointer;
	background: #e2e8f0;
}
.tasks{
	height: 400px;
	padding: 10px 20px;
	margin: 10px 0 0 0;
	background: #f7fafc;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	overflow: auto;
	transition: all 0.1s;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.task{
	width: 100%;
	height: 100px;
	background: #63b3ed;
	border-radius: 10px;
	color: #424348;
	padding: 20px 10px;
	margin-top: 10px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
	overflow: auto;
	overflow-wrap: break-word;
	transition: all 0.1s;
	animation: fadeIn 0.5s ease-out forwards;
}
.task input{
	width: 80%;
	background: transparent;
	border: none;
}
.task input:focus{
	outline: none;
  	border: none;
}
.task:hover .delete-icon{
	opacity: 1;
}
.delete-icon{
	float: right;
	transform: scale(1.5);
	opacity: 0;
	cursor: pointer;
	transition: all 0.1s;
}
.delete-icon:hover{
	color: black;
}
.completed-title p{
	background: #bee3f8;
}